html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}


*:hover {

    user-select: none;



}

body {
    margin: 0;
    padding: 0;
    font-family: Berzerker;

}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: all ease-in .3s;

}


nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;


}


nav .logo {
    float: left;
    font-size: 24px;
    transition: .3s;
    margin-left: -80px;

}

img {
    width: 120px;
    padding-top: 20px;



}


nav.black .logo {
    color: #fff;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;




}


nav ul li {
    list-style: none;
    font-size: 20px;
    display: flex;



}


nav ul li a {
    line-height: 50px;
    color: #ffffff;
    padding: 12px 0px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    display: flex;
    letter-spacing: 1.5px;
    text-shadow: 1.5px .5px 3px rgb(0, 0, 0);



}


nav.black ul li a {
    color: #fff;
}


nav.black ul li a:focus {
    outline: none;
}


/**nav animation**/


.bottom-border {
    text-decoration: none;
    position: relative;


}


.bottom-border::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgba(255, 250, 250, 0.63);
    position: absolute;
    bottom: 34%;
    left: 50%;
    border-radius: 10px;
    transition: width 0.25s, left 0.25s;
    transition-property: width, left;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;

}

.bottom-border:hover::after {
    left: 0%;

    width: 100%;
}


/**star**/

.con1 {
    width: 100%;
    height: 100vh;
    background-image: url(100.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;


}

.sec1 {
    width: 100%;
    height: 100vh;
}







section.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;



}


section span.intro {
    margin: 0;
    padding: 0;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.65);
    letter-spacing: 15px;



}



.main-t {
    margin-right: 32%;


}





.red {
    color: rgba(126, 0, 0, 0.79);
}



.mbtn {

    margin-top: 40px;
    margin-bottom: -50px;
}


.btn {
    font-family: Berzerker;
    letter-spacing: 2px;
    background-color: rgba(47, 36, 36, 0.65);
    list-style: none;
    width: 140px;
    padding-top: 5px;
    overflow: hidden;
    height: 54px;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    transition: ease-out 0.3s;
    font-size: 1.7em;
    outline: none;
    border: 2px solid rgba(217, 217, 217, 0.92);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.79);
    text-shadow: 3px 2px 8px rgb(0, 0, 0);

}

.btn a {
    text-decoration: none;
    color: #ffffff;
}

.btn:hover {
    color: #cdd2db;
    cursor: pointer;

    box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.10);

    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.55);

    background-color: rgba(21, 20, 20, 0.10);

    border: 2px solid rgba(248, 248, 248, 0.88);
}



#con2 {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


#con2 #GOW1 {

    width: 100%;
    height: 100%;

}




/** 01 **/



#con2 {

    box-sizing: border-box;
    background-image: url(5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}





/****  02 ****/






.slider {
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 4px 15px rgb(0, 0, 0);
    position: relative;
    top: 20%;
    left: 20%;



}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 520px;
}



.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}



.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}
